
<!DOCTYPE html>

<html>
    <head>   
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="./css/styles.css">

        
    </head>
<body>
<div class="main-content">
{{>header}}

<img src="./img/img.jpg" class="potrait">

<p>A Website Which Shows Weather For All Loactions......</p>


</div>
{{>footer}}
</body>

</html>